.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Heading {
  color: #ffffff;
  font-family: Bree Serif;
  padding-bottom: 25px;
}
.button {
  height: 15px;
}
.Like {
  background-color: #eab308;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 0px;

  height: 30px;
  width: 55px;
}
.comment {
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 15px;
  height: 30px;
  width: 85px;
}
.share {
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 15px;
  height: 30px;
  width: 55px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
@media (min-width: "768px") {
  button {
    display: flex;
    justify-content: row;
    padding-bottom: 15px;
  }
}
